@model IEnumerable<PokeCenter.Models.MessageListItem>

@{
    ViewBag.Title = "MessageIndex";
}

<h2>MessageIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <!--<th>-->
        <!--Html.DisplayNameFor(model => model.MessageId)-->
        <!--</th>-->
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Receiver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
<tr>
    <!--<td>
                Html.DisplayFor(modelItem => item.MessageId)
            </td>-->
    <td>
        @Html.DisplayFor(modelItem => item.Content)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Receiver)
    </td>
    <th>
        @Html.DisplayNameFor(model => model.Created)
    </th>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
    }

    </table>
