@model IEnumerable<PokeCenter.Models.MessageListItem>

@{
    ViewBag.Title = "Notifications";
}

<h2>Notifications</h2>

<p>
    @Html.ActionLink("Text Someone", "CreateMessage")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MessageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MessageId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Content)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Created)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td> |
        @Html.ActionLink("Delete", "DeleteMessage", new { id = item.MessageId })
    </td>
</tr>
}

</table>
