@model IEnumerable<PokeCenter.Models.PGameListItem>

@{
    ViewBag.Title = "GameIndex";
}

<h2>GameIndex</h2>

<p>
    @Html.ActionLink("Create New", "CreatePG")
</p>
<p>
    @Html.ActionLink("Edit a listing", "PGameEdit")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PGameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Console)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GamePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasCase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileContent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.PGameId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GameName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Console)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GamePrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.HasCase)
    </td>
    <td>
        @if (item.FileContent != null)
        {
            var base64 = Convert.ToBase64String(item.FileContent); var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            <img src=@imgSrc , class="Postimg" , alt="Pokemon" />
        }
        else
        {
            <img src="" class="img-fluid" alt="Pokemon" />
        }
    </td>
    <td>
        @Html.ActionLink("Edit", "EditPG", new {  id=item.PGameId }) 
        @Html.ActionLink("Delete", "DeletePG", new { id = item.PGameId })
    </td>
</tr>
}

</table>
<style>
    .Postimg{
        width : 100px;
        height : 150px; 
    }

</style>